extends ../components/base/layout

block variables
  - const title = "Тестовое задание для Cake Labs"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html"

  -
    const productSale = [
      products[0],
      products[1],
      products[2],
      products[3],
    ]

    const productNew = [
      products[4],
      products[5],
      products[6],
      products[7],
    ]

    const productPurchased = [
      products[8],
      products[6],
      products[4],
      products[7],
    ]

    const currentArticles = [
      articles[0],
      articles[1],
      articles[2],
    ]

block main
  h1.visually-hidden Наш прекрасный магазин
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +banner()
    +product-showcase(productSale, "Акции", { href: "#", title: "Все акции" })
    +product-showcase(productNew)
    +product-showcase(productPurchased, "Акции", { href: "#", title: "Все покупки" })
    +special-offers()
    +stores-on-the-map()
    +article-showcase(currentArticles)

//- block modals

append scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
  script
    include ./../../js/inline/map.js
