extends ../components/base/layout

block variables
  - const title = "Тестовое задание для Cake Labs"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html"

  -
    const productSale = [
      products[0],
      products[1],
      products[2],
      products[3],
    ]

    const productNew = [
      products[4],
      products[5],
      products[6],
      products[7],
    ]

    const productPurchased = [
      products[8],
      products[6],
      products[4],
      products[7],
    ]

block main
  h1.visually-hidden Наш прекрасный магазин
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +banner()
    +product-showcase(productSale, "Акции", { href: "#", title: "Все акции" })
    +product-showcase(productNew)
    +product-showcase(productPurchased, "Акции", { href: "#", title: "Все покупки" })

block modals
