mixin banner()

  .banner
    .container
      .banner__inner
        .banner__cover
          +img("content", "food", "png", 335, 200, "Пакет свежих продуктов").banner__cover-img
        .banner__message
          h2.banner__title Доставка бесплатно от 1000 ₽
