.article-showcase__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px 40px;
  align-items: flex-end;
  margin-bottom: 40px;

  @include vp-1023 {
    margin-bottom: 32px;
    gap: 8px 32px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.article-showcase__articles {
  margin: calc(-1 * var(--container-padding-x));
  position: relative;
}

.article-showcase__articles-inner {
  padding: var(--container-padding-x);
}

.article-showcase__article-list {
  @include clear-list;
}

.article-showcase__article-item {
  height: unset;
}
