.catalog-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  visibility: hidden;
  opacity: 0;

  width: 100%;
  height: 100vh;
  /* stylelint-disable-next-line */
  height: calc(100 * var(--vh, 1vh));

  transition:
    transform $trans-default,
    visibility $trans-default,
    opacity $trans-default;

  &.is-opened {
    visibility: visible;
    opacity: 1;
  }
}

.catalog-menu__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100vh;
  /* stylelint-disable-next-line */
  height: calc(100 * var(--vh, 1vh));

  background-color: rgba($color: $color-default-black, $alpha: 0.6);
}

.catalog-menu__content {
  position: absolute;
  transform: translateY(-40px);
  z-index: 2;

  width: 100%;
  max-height: 100vh;
  /* stylelint-disable-next-line */
  max-height: calc(100 * var(--vh, 1vh));
  padding-top: var(--header-height);
  background-color: $color-default-white;
  box-shadow: $header-shadow;

  overflow-y: auto;

  transition: transform $trans-default;

  .is-opened & {
    transform: translateY(0);
  }
}

.catalog-menu__inner {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 20px var(--container-padding-x);
}
