mixin catalog-menu()

  .catalog-menu
    .catalog-menu__overlay
      .catalog-menu__content
        .catalog-menu__inner
          p Здесь может быть верстка любой сложности
          ul
            li Пункт меню
            li Пункт меню
            li Пункт меню
            li Пункт меню
            li Пункт меню
            li Пункт меню
          +link({ href: "#", text: "Ссылка"})
