mixin header(headerMods, currentUrl)

  header.header(class=headerMods)
    .header__wrapper
      .container
        .header__inner
          .header__catalog
            +btn({
              iconBefore: ["icon-burger", 24, 24],
              text: "<span>Каталог</span>",
            }).btn--catalog.header__catalog-btn
            +catalog-menu()
            .header__search
              +btn({ iconBefore: ["icon-search", 24, 24] }).btn--icon.header__search-toggle(type="submit", aria-label="Показать форму поиска")
              form.header__search-form
                label.visually-hidden(for="catalog-search") Поиск товара
                input(type="search", id="catalog-search", placeholder="Найти товар").header__search-input
                +btn({ iconBefore: ["icon-search", 24, 24] }).btn--icon.header__search-btn(type="submit", aria-label="Искать")
          +nav().header__nav.nav
