// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-charcoal:                    #414141;

$color-floral-white:                #fbf8ec;
$color-off-yellow:                   #f9f4e2;

$color-outrageous-orange:           #ff6633;

$color-mantis:                      #70c05b;
$color-panache:                     #e5ffde;

// Project colors

$color-site-primary:                $color-outrageous-orange;
$color-site-secondary:              $color-mantis;
$color-site-secondary-muted:        $color-panache;
$color-site-txt:                    $color-charcoal;
$color-site-bg:                     $color-floral-white;

$color-header-bg:                   $color-default-white;

$color-banner-bg:                   $color-default-white;

$color-footer-bg:                   $color-off-yellow;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Shadow

$header-shadow:
  2px 4px 8px 0 rgba($color: $color-default-black, $alpha: 0.1);
$header-user-menu-shadow:
  0 0 8px 0 rgba($color: $color-default-black, $alpha: 0.1);
$footer-social-link-shadow:
  0 0 4px $color-site-primary;

// Typography
// ---------------------------------

$ff-rubik:                          "Rubik", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-414:                            414px;
$vp-576:                            576px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1240:                           1240px;
