-
  const articles = [
    { // #0
      link: { href: "#" },
      cover: ["content", "article-01", "jpg", "226", "162"],
      date: { human: "05.03.2021", robot: "2021-03-05" },
      title: "Режим использования масок и перчаток на территории магазинов",
      lead: "Подробная информация о режимах использования масок и перчаток на территории магазинов «ЛЕНТА». Информация обновляется каждый будний день.",
    },
    { // #1
      link: { href: "#" },
      cover: ["content", "article-02", "jpg", "226", "165"],
      date: { human: "05.03.2021", robot: "2021-03-05" },
      title: "Весеннее настроение для каждой",
      lead: "8 Марта — это не просто Международный женский день, это ещё день тюльпанов, приятных сюрпризов и праздничных тёплых пожеланий.",
    },
    { // #2
      link: { href: "#" },
      cover: ["content", "article-03", "jpg", "226", "162"],
      date: { human: "22.02.2020", robot: "2020.02.20" },
      title: "ЗОЖ или ФАСТФУД. А вы на чьей стороне? Голосуем!",
      lead: "Голосуйте за любимые категории, выбирайте категорию-победителя в мобильном приложении и получайте кешбэк 10% баллами в апреле!",
    },
  ]
