-
  const products = [
    { // #0
      link: { href: "#" },
      cover: ["content", "product-01", "png", "272", "160"],
      discount: "-50%",
      clubPrice: "44,50 ₽",
      price: "50,50 ₽",
      title: "Г/Ц Блинчики с мясом вес, Россия",
      rating: 2,
      isFavorite: false,
    },
    { // #1
      link: { href: "#" },
      cover: ["content", "product-02", "png", "272", "160"],
      discount: "-50%",
      clubPrice: "44,50 ₽",
      price: "50,50 ₽",
      title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное пастерилизованное",
      rating: 3,
      isFavorite: false,
    },
    { // #2
      link: { href: "#" },
      cover: ["content", "product-03", "png", "272", "160"],
      discount: "-50%",
      clubPrice: "44,50 ₽",
      price: "50,50 ₽",
      title: "Колбаса сырокопченая МЯСНАЯ ИСТОРИЯ Сальчичон и Тосканская",
      rating: 5,
      isFavorite: false,
    },
    { // #3
      link: { href: "#" },
      cover: ["content", "product-04", "png", "272", "160"],
      discount: "-50%",
      clubPrice: "44,50 ₽",
      price: "50,50 ₽",
      title: "Сосиски вареные МЯСНАЯ ИСТОРИЯ Молочные и С сыром",
      rating: 4.5,
      isFavorite: false,
    },
    { // #4
      link: { href: "#" },
      cover: ["content", "product-05", "png", "272", "160"],
      price: "599,99 ₽",
      title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
      rating: 2,
      isFavorite: false,
    },
    { // #5
      link: { href: "#" },
      cover: ["content", "product-03", "png", "272", "160"],
      title: "Колбаса сырокопченая МЯСНАЯ ИСТОРИЯ Сальчичон и Тосканская",
      price: "44,50 ₽",
      rating: 5,
      isFavorite: true,
    },
    { // #6
      link: { href: "#" },
      cover: ["content", "product-04", "png", "272", "160"],
      price: "44,50 ₽",
      title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
      rating: 2,
      isFavorite: false,
    },
    { // #7
      link: { href: "#" },
      cover: ["content", "product-02", "png", "272", "160"],
      price: "49,39 ₽",
      title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
      rating: 2,
      isFavorite: false,
    },
    { // #8
      link: { href: "#" },
      cover: ["content", "product-06", "png", "272", "160"],
      price: "77,99 ₽",
      title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
      rating: 2,
      isFavorite: false,
    },
  ]
